
{# get events by taxonomy #}
{% set events =
    page.collection({
      'items': {
        '@taxonomy': {
          'type': 'event',
        }
      },
      'dateRange': {
        'start': datetools.today|date('m/d/Y'),
        'end': datetools.parseDate('+3 months')|date('m/d/Y')
      },
      'order': {
        'by': 'date',
        'dir': 'asc'
      },
      'limit': 10,
      'pagination': true
    })
%}

<aside class="events-sidebar">
  
  <h3>{{ "PLUGIN_EVENTS.EVENTS.BY_CATEGORY"|t }}</h3>
  <ul class="event-tags">
  {% for category in eventCategories %}
    <li><a href="{{ base_url }}/events/category{{ config.system.param_sep }}{{ category|e('url') }}">{{ category|capitalize }}</a></li>
  {% endfor %}
  </ul>

  {% if events|length != 0 %}
    <h3>{{ "PLUGIN_EVENTS.EVENTS.UPCOMING_EVENTS"|t }}</h3>
    <ul class="events-list">
    {% set current_header = null %}
    {% for event in events %}
        {% set date_header = event.header.event.start|date('F d') %}
        {% if date_header != current_header %}
        <li class="event-day">
          <span>{{ event.header.event.start|date(config.plugins.events.event_sidebar.header) }}</span></li>
        {% endif %}
        <li class="event-item">
            <time datetime="{{ event.header.event.start|date("c") }}">{{ event.header.event.start|date(config.plugins.events.event_sidebar.time)}}</time>
            <a href="{{ event.url }}" class="u-url p-name">{{ event.title }}</a>
        </li>
        {% set current_header = event.header.event.start|date('F d') %}
    {% endfor %}
    </ul>
  {% endif %}
</aside>
