<div class="event-meta {{ event_class }}">
    <ul>
        {% if listing == true %}
        <li><strong>{{ event.start|date('F j, Y h:ia') }}</strong></li>
        {% endif %}

        {% if event.freq is defined %}
        <li>Repeats {{ event.freq|capitalize }}</li>
        {% endif %}

        {% if event.repeat is defined %}
        <li>{{ event.repeatDisplay }}</li>
        {% endif %}

        {% if event.until is defined %}
        <li>Until {{ event.until|date('F j, Y') }}</li>
        {% endif %}
    </ul>
    
    <ul>
        {% if page.taxonomy.category %}
        <li>
            {% for category in page.taxonomy.category %}
            <a href="{{ blog.url|rtrim('/') }}/events/category{{ config.system.param_sep }}{{ category }}">{{ category -}}</a>{{ loop.last ? '' : ',' }}
            {% endfor %}
        </li>
        {% endif %}

        {% if page.taxonomy.tag %}
        <li>
            {% for tag in page.taxonomy.tag %}
            <a href="{{ blog.url|rtrim('/') }}/events/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>{{ loop.last ? '' : ',' }}
            {% endfor %}
        </li>
        {% endif %}

    </ul>
</div>
