<article class="event-article">

    <header class="event-header">
      <time class="event-date" datetime="{{ page.date|date("c") }}">
          <span class="day">{{ page.header.event.start|date("d") }}</span>
          <span class="month">{{ config.plugins.events.date_format.translate ? 'MONTHS_OF_THE_YEAR'|ta(page.header.event.start|date('n') - 1) : page.header.event.start|date('M') }}</span>
          <span class="time">
              {{ page.header.event.start|date('g:ia') }}&ndash;{{ page.header.event.end|date('g:ia') }}
          </span>
          <span class="year">{{ page.header.event.start|date("Y") }}</span>
      </time>

      {% set image = page.media.images|first %}
      {% if image != null %}
          {{ image.cropZoom(960,320).html }}
      {% endif %}

    </header>

    <section class="event-content">
        <h2 class="event-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
        {{ page.content }}
    </section>

    <footer class="event-footer">

        {% if page.taxonomy.category %}
            <span class="event-tags">
                {% for category in page.taxonomy.category %}
                <a href="{{ event.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>
                {% endfor %}
            </span>
        {% endif %}

    </footer>

</article>
