
<span class="event-title">
    <a href="{{ event.url }}" class="p-name u-url">
        <time class="dt-start" datetime="{{ event.event.start|date("c") }}">{{ event.event.start|date("g:ia") }}-{{ event.event.end|date("g:ia") }}</time>
        <span>{{ event.title }}</span>
    </a>
</span>