<article class="event-article">

    <header class="event-header">
      
      {% set image = page.media.images|first %}
      {% if image != null %}
          {{ image.cropZoom(960,280).html }}
      {% endif %}

    </header>

    <section class="event-content">
      <div class="left-column">
        <time class="event-date" datetime="{{ page.date|date("c") }}">
          <span class="day">{{ page.header.event.start|date(config.plugins.events.event_item.day) }}</span>
          <span class="month">{{ page.header.event.start|date(config.plugins.events.event_item.month) }}</span>
          <span class="time">
              {{ page.header.event.start|date(config.plugins.events.event_item.start_time) }}&ndash;{{ page.header.event.end|date(config.plugins.events.event_item.end_time) }}
          </span>
          <span class="year">{{ page.header.event.start|date("Y") }}</span>
        </time>

        {% if page.taxonomy.category %}
        <div class="categories">
          <span class="event-tags">
              {% for category in page.taxonomy.category %}
              <a href="{{ event.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>
              {% endfor %}
          </span>
        </div>
        {% endif %}
      </div>
      <div class="right-column">

        {% if single == true %}{# individual content page #}
          <h2 class="event-title">{{ page.title }}</h2>
          <div class="event-content">{{ page.content }}</div>

        {% else %}{# main listing page #}          
          <h2 class="event-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
          <div class="event-summary">{{ page.summary(300) }} <span class="read-more"><a href="{{ page.url }}">{{ "PLUGIN_EVENTS.EVENTS.READ_MORE"|t }}</a></span></div>
        
        {% endif %}
      </div>
        
    </section>

    <footer class="event-footer">

      {% if single == true %}
        
      {% else %}

      {% endif %}

    </footer>

</article>
