{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block content %}

	<h1>{{ page.title }}</h1>

	{{ page.content }}

    {% for event in collection %}
        <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
        <h5>{{ event.header.event.start|date('F j, Y h:ia') }}</h5>

        <p>	
			{% if event.header.event.freq is defined %}
    	    {{ event.header.event.freq|capitalize }}
 	       	{% endif %}

	        {% if event.header.event.repeat is defined %}
    	    on {{ event.header.event.repeat }}
 	       	{% endif %}

 	       	{% if event.header.event.until is defined %}
    	    until {{ event.header.event.until|date('F j, Y') }}
 	       	{% endif %}
 	    </p>
 	    
        {{ event.summary }}

    {% endfor %}

	{% if config.plugins.pagination.enabled and collection.params.pagination %}
        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
    {% endif %}

{% endblock %}
