{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block content %}

	<h1>{{ page.title }}</h1>

	{{ page.content }}

    {% for event in collection %}
        <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
        <p>
			<strong>{{ event.header.event.start|date('F j, Y h:ia') }}</strong>

			{% if event.header.event.freq is defined %}
    	    / Repeats {{ event.header.event.freq|capitalize }}
 	       	{% endif %}

	        {% if event.header.event.repeat is defined %}
    	    / {{ event.header.event.repeatDisplay }}
 	       	{% endif %}

 	       	{% if event.header.event.until is defined %}
    	    / Until {{ event.header.event.until|date('F j, Y') }}
 	       	{% endif %}
 	    </p>

        {{ event.summary }}

    {% endfor %}

	{% if config.plugins.pagination.enabled and collection.params.pagination %}
        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
    {% endif %}

{% endblock %}
