{% extends 'partials/base.html.twig' %}

{% block content %}

	{% set first_image = page.media.images|first %}
	{{ first_image.cropZoom(900, 300).html('','','center') }}

	<h1>{{ page.title}}</h1>
	<h2>
		{{ header.event.start|date('l, F d, Y') }}<br />
		{{ header.event.start|date('g:ia') }}-{{ header.event.end|date('g:ia') }}
	</h2>

    {{ page.content }}

	{% include 'partials/event-meta.html.twig' with { 'event': header.event, 'event_class': 'center' }%}

{% endblock %}
